header {
    background-color: #fff;
    border-radius: 0;
    border: 0;
    padding-bottom: 0;
}

.topnav {
overflow: hidden;
background: none;
}

.topnav a {
float: right;
display: block;
color: #9dbbdf;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-style: italic;
}

.topnav a:hover {
color: #4A5868;
border-top-width: 2px;
border-top-style: groove;
border-top-color: #4A5868;
}

.topnav a.active {
border-top-width: 2px;
border-top-style: groove;
border-top-color: #9dbbdf;
}

#heading-name {
text-align: left;
padding-left: 280px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #4A5868;
}

#heading-name h1{
font-size: 30px;
text-shadow: 2px 0px 0px 2px #ffffff;
letter-spacing: 5px;
margin-bottom: 0px;
padding-bottom: 0px;
}

#heading-name h4{
font-size: 15px;
word-spacing: 5px;
margin-top: 0px;
padding-top: 0px;
}

/* Footer */
.panel-footer {
padding-top: 20px;
padding-bottom: 10px;
background-color: #9dbbdf;
}

/*  footer {
position:absolute;
bottom:0;
width:100%;
height: 100px;
background-color: #9dbbdf;
}*/

#contactno {
color: #4A5868;
text-align: center;
padding: 0;
margin: 0;
border: 0;
}

.row div {
display: inline-block;
/*  width: 300px;*/
min-height: 50px;
height: auto;
}

/* footer div.row:after {
content: "";
display: table;
clear: both;
}*/

#copyright {
color: #4A5868;
font-style: italic;
padding-left: 150px;
}

#sociallogo {
padding-left: 480px;
padding-right: 100px;
height: auto;
}

#sociallogo i {
padding: 5px;
}

#contact-content h1 {
    text-align: center;
    margin: 10px auto;
    width: 700px;
    background-color: #9dbbdf;
    color: #fff;
    padding: 10px 150px;
  }

  #contact-content p {
    color: #4A5868;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: 1.1em;
    margin-bottom: 30px;
  }

  .img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }

  .img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }