#header {
        background-color: #fff;
        border-radius: 0;
        border: 0;
        padding-bottom: 0;
}

#body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav {
    overflow: hidden;
    background: none;
}

.topnav a {
    float: right;
    display: block;
    color: #9dbbdf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-style: italic;
  }
  
  .topnav a:hover {
    color: #4A5868;
    border-top-width: 2px;
    border-top-style: groove;
    border-top-color: #4A5868;
  }
  
  .topnav a.active {
    border-top-width: 2px;
    border-top-style: groove;
    border-top-color: #9dbbdf;
  }
  